* {
    margin: 0px; /* Margenes */
    padding: 0px; /* Relleno */ 
    box-sizing: border-box; /* Anchura de caja */
    font-family: "Poppins", sans-serif; /* Fuente */
}

body {
    background-image: linear-gradient(to bottom, darkblue, deeppink); /* Degradado de colores */
    margin: 0px;
    padding: 0px;
    font-family: "Poppin", sans-serif;
    min-height: 100vh;
    background-color: deeppink;
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 15px;
}

textarea {
    margin-top: 15px;
    position: absolute;
    border: 1px solid black;
    height: 240px;
    width: 400px;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
}

.texto {
    color: black; 
    border: 1px solid black;  
    height: 50px; 
    width: 93%;
    margin: 20px;
    padding: 10px;
    font-size: 15px; 
    border-radius: 5px; 
    outline: none;
}

#boton {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
    margin-left: 24%;
    padding: 10px;
    background-color: deeppink;
    color: white;
    border: 10px;
    width: 50%;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

#boton:hover {
    background-color: hotpink;
}

form {
    background-color: white;
    padding: 25px;
    border-radius: 5px;
}

.alinear {
    float: left;
    width: 45%;
    margin-left: 25px;
    margin-right: 10px;
}