* {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

.titulo {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 30px;
}

#top1 {
	float: left;
	margin-left: 20px;
}

#telefono2 {
	font-size: 18px;
	float: right;
}

#correo2 {
	font-size: 15px;
	float: right;
	font-weight: lighter;
}

#top2 {
	float: right;
	margin-right: 20px;
}

#icono1 {
	float: left;
	margin-right: 5px;
	font-size: 18px;
}

#telefono {
	font-size: 20px;
}

#icono2 {
	float: left;
	margin-right: 5px;
	font-size: 18px;
}

#correo {
	font-size: 20px;
}

#enlaces {
	margin-left: 70px;
}

header {
	background-color: #666666;
	color: white;
	padding: 10px;
	margin-bottom: -20px;
}

.inicia {
	margin-left: 70px;
}

.inicio {
	margin-left: 35px;
}

.inicio:link {
	color: black;
}

.inicia:link {
	color: black;
}

.inicio:visited {
	color: black;
}

.inicia:visited {
	color: black;
}

.inicio:hover {
	color: skyblue;
}

.inicia:hover {
	color: skyblue;
}

nav {
	padding: 50px;
	font-size: 30px;
	color: black;
	text-decoration: none;
}

#mapa {
	margin-top: 20px;
	margin-left: 220px;
}

#fondo {
	width: 100%;
	height: 100%;
}

#portada {
	width: 100%;
	float: left;
}

.descripcion {
	margin-left: -90px;
	width: 1100px;
	font-size: 30px;
	margin-bottom: 50px;
}

.frases {
	width: 33%;
	float: left;
	text-align: left;
	font-size: 25px;
	font-style: italic;
}

article {
	padding: 200px;
}

form {
	margin-top: -100px;
}

footer {
	background-color: black;
	color: white;
	text-align: center;
	padding: 35px;
}

.direccion {
	margin-bottom: 20px;
}

.copyright {
	margin-top: 20px;
}

input, textarea {
	width: 850px;
    box-sizing: border-box; 
	border: 1px solid; 
	padding: 10px;
	margin-bottom: 10px;
}

.boton {
	height: 50px;
	margin-left: 0px;
	margin-top: 50px;
	margin-bottom: -50px;
	cursor: pointer;
}

#casilla {
	width: 20px; 
	height: 20px; 
	margin-right: 13px;
	margin-top: 20px;
	cursor: pointer;
}

#icono3 {
	font-size: 15px;
	text-align: center;
	vertical-align: center;
}

