* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #21618C, #5DADE2);
}

#container {
    background-color: #F2F2F2;
    width: 50%;
    height: 80%;
    margin-top: 190px;
    margin-left: 270px;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 100px;
    padding-right: 0px;
    box-shadow: 40px 0px #000099;
    border-radius: 3px;
}

h1 {
    color: #000099;
    margin-bottom: 50px;
}

#username, #password {
    font-size: 20px;
    background-color: #CCCCFF;
    width: 500px;
    height: 50px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
}

a {
    margin-left: 308px;
    font-size: 12px;
    text-decoration: none;
}

#submit {
    width: 522px;
    height: 50px;
    font-size: 18px;
    margin-top: 35px;
    background-color: #000099;
    color: #F2F2F2;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 3px;
}

#checkbox {
    margin-right: 5px;
    font-size: 12px;
}

