* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    width: 90%; /* dejamos espacio por los laterales y srÃ¡ nuestro ancho total */
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: red;
    color: white;
    padding: 4%;
    margin-top: 1%;
} 

header h1 {
    font-size: 3em;
    text-align: center;
}

nav {
    margin-top: 0.8%;
    float: left;
    width: 20%; 
}

nav div {
    text-align: center;
    margin-bottom: 1%;
    padding: 0.6%;
    background-color: deepskyblue;
}

nav div a {
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: white;
}
section {
    float: left;
    width: 75%;
    margin-left: 5%;
}

section article h1 {
    font-size: 2em;
    text-align: center;
}

section article img {
    vertical-align: middle;
    min-width: 10%;
    max-width: 80%;
}
section article p {
    font-size: 1.2em;
}