* {
	margin: 0px;
	padding: 0px;
	font-family: 'Cantarell', sans-serif;
}

h1 {
	margin-top: 50px;
	margin-left: 540px;
	color: #262626;
}

span {
	color: #808080;
}

h2 {
	font-size: 17px;
	margin-left: 420px;
	margin-bottom: 50px;
	margin-top: 50px;
	color: #999999;
}

.link {
	cursor: pointer;
	margin-left: 5px;
	font-size: 10px;
}

#margen {
	margin-left: 570px;
}

table {
	margin-left: 430px;
}

img {
	margin: 10px;
}

th {
	font-size: 10px;
	text-decoration: none;
	border: none;
    outline: none;
}

.fila {
	cursor: pointer;
}