* {
    margin: 0px; /* Margenes */
    padding: 0px; /* Relleno */ 
    box-sizing: border-box; /* Anchura de caja */
    font-family: "Poppins", sans-serif; /* Fuente */
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Poppin", sans-serif;
    min-height: 100vh;
    background-color: #17202A;
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #17202A;
    margin-bottom: 20px;
    font-size: 25px;
}

textarea {
    width: 350px;
    color: #17202A; 
    text-align: left;
    background-color: #66ffcc;
    border: none; 
    outline: none; 
    height: 100px; 
    width: 489px;
    padding-top: 15px;
    padding-left: 25px; 
    font-size: 15px; 
    border-radius: 5px; 
    margin-bottom: 20px;
}

#boton {
    margin-left: 170px;
    background-color: #154360;
    color: #D0D3D4;
    border: 20px;
    width: 150px;
    height: 50px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 15px;
    cursor: pointer;
}

.texto {
    color: #17202A; 
    background-color: #66ffcc;
    text-align: left;
    border: none; 
    outline: none; 
    height: 50px; 
    padding: 25px; 
    font-size: 15px; 
    border-radius: 5px; 
    margin-bottom: 20px; 
    opacity: 90%; 
}

#direccion {
    color: #17202A; 
    background-color: #66ffcc;
    border: none; 
    outline: none; 
    height: 50px; 
    width: 489px;
    padding: 25px; 
    font-size: 15px; 
    border-radius: 5px; 
    margin-bottom: 20px;
}

form {
    background-color: white;
    padding: 25px;
    border-radius: 5px;
}

*::-webkit-input-placeholder { /* Cambiar de color la letra */
    color: black;
}

